proxmox_api_url = "Адрес ProxMox API"
proxmox_api_token_id = "Сервисный аккаунт ProxMox
proxmox_api_token_secret = "Токен Сервисного аккаунта"
ci_user = "Пользователь ВМ"
ci_pass = "Пароль пользователя ВМ"
gitlab_token = "Токен для раннера"
